---
import BaseLayout from "../layouts/BaseLayout.astro";
import EducationCard from "../components/EducationCard.astro"; 
import ExperienceCard from "../components/ExperienceCard.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import CV from "../components/CV.astro";
import ContactForm from "../components/ContactForm.astro";
import Badge from "../components/Badge.astro";

import EducationIcon from "../components/icons/EducationIcon.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import CVIcon from "../components/icons/CVIcon.astro";
import ContactIcon from "../components/icons/ContactIcon.astro";
---

<BaseLayout includeSidebar={true}>
  <div class="page">
    <div class="title">Alex Quiroga <Badge>Student</Badge></div>
    <div class="subtitle">Aerospace Technical Engineer</div>
    <div class="resume">
      <text>
        Aeronautical engineering <strong>master's student</strong> at the Technical University
        of Madrid. Have obtained <strong>code development experience</strong> in future technologies
        by mean of an internship and personal projects. Currently looking for further
        deepening in <strong>data science</strong> applied to <strong>control systems</strong>.
      </text>
    </div>

  </div>

  <div class="education" id="education">
    <div class="title">
      <EducationIcon size="32"/>
      <h1> Education</h1> 
    </div>
    <EducationCard
      date="2022 - Today"
      title="Master’s degree in Aeronautical Engineering"
      institution="ETSIAE, Technical University of Madrid, Madrid (Spain)"
      description="Aircraft Specialization"
    />

    <EducationCard
      date="2017 - 2023"
      title="Bachelor’s degree in Aerospace Engineering"
      institution="ETSIAE, Technical University of Madrid, Madrid (Spain)"
      description="Aerospace Sciences and Technologies"
    />

  </div>

  <div class="experience" id="experience">
    <div class="title">
      <ExperienceIcon size="32"/>
      <h1> Work Experience</h1> 
    </div>
    
    <ExperienceCard
      date="Mar 2021 - Aug 2021"
      title="Intership"
      company="SRM Consulting"
      description="Part of the development team in charge of the platform's backend. Implementation of artificial intelligence algorithms with Python for cartographic analysis and volume rendering from photographs obtained by drones."
    />

  </div>

  <div class="skills" id="skills">
    <div class="title">
      <SkillsIcon size="32"/>
      <h1>Skills </h1> 
    </div>

    <Skills />
  </div>

  <div class="projects" id="projects">
    <div class="title">
      <ProjectsIcon size="32"/>
      <h1>Projects </h1> 
    </div>
    <Projects />
  </div>

  <div class="cv" id="cv">
    <div class="title">
      <CVIcon size="32"/>
      <h1>CV </h1> 
    </div>
    <CV />

  </div>

  <div class="contact" id="contact">
    <div class="title">
      <ContactIcon size="32"/>
      <h1>Contact </h1> 
    </div>

    <ContactForm />
    
  </div>

</BaseLayout>

<style>

.title {
  font-size: 30pt;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
}

strong {
  color: white;
}

.subtitle {
  font-size: 20pt;
  font-weight: 400;
}

.resume {
  font-size: 16pt;
  font-weight: 400;
  margin-top: 20px;
}

.education .experience, .projects .skills, .cv .contact{
  margin-top: 20px;
}

#education, #experience, #projects, #skills, #cv, #contact {
  scroll-margin-top: 100px;
}

.education h1, .experience h1, .projects h1, .skills h1, .cv h1, .contact h1 {
  font-size: 25pt;
  font-weight: 600;
}

.education .title, .experience .title, .projects .title, .skills .title, .cv .title, .contact .title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
	
</style>