<div>
    <a
    class="py-3 text-base"
    href="mailto:alex.c.quiroga.jaldin@gmail.com"
    target="_blank"
    referrerpolicy="no-referrer-when-downgrade">Open Mail App</a
    >
</div>

<style>

    div {
        margin-top: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        border-width: 2px;
        border-style: solid;
        padding: 10px;
        border-radius: 10px;
    }
    a:hover {
        opacity: 0.5;
    }
</style>