---
const today = new Date();
---

<footer class="footer-div">
  <div class="developer">
    <p>&copy; {today.getFullYear()} <strong>Alex Quiroga</strong></p>
  </div>
  <div class="page-tools">
    <p>Made with <a href="https://astro.build/" target="_blank">Astro Framework</a></p>
  </div>
</footer>

<style>

.footer-div {
  color: white;
  font-size: 12pt;
  text-decoration: none;
  font-family: system-ui;
  margin-top: 50px;
  padding-bottom: 40px;

}

.developer, .page-tools {
  text-align: center;
  margin-top: 8px;

}

.page-tools p a {
  color: white;
  text-decoration: none;
  font-family: system-ui;
  font-size: 12pt;
  font-weight: 550;
  display: block;
}

p, strong, a {
  display: inline !important;
}

</style>
