---
import { Image } from "astro:assets";

import { PRIMARY_COLOR, SECONDARY_COLOR } from "../config";

import EducationIcon from "./icons/EducationIcon.astro";
import ExperienceIcon from "./icons/ExperienceIcon.astro";
import SkillsIcon from "./icons/SkillsIcon.astro";
import ProjectsIcon from "./icons/ProjectsIcon.astro";
import CVIcon from "./icons/CVIcon.astro";
import ContactIcon from "./icons/ContactIcon.astro";

const primaryColor = PRIMARY_COLOR;
const secondaryColor = SECONDARY_COLOR;
---

<div class="topbar-column">
    <div class="profile">
      <a href="/">
        <Image class="profile-photo" format="webp" width={300} height={300} src="/profile_3.png" alt="Profile image" />
      </a>

      <ul>
        <li><a href="#education">
          <EducationIcon size="25"/>
          </a></li>
        <li><a href="#experience">
          <ExperienceIcon size="25"/>
          </a></li>
        <li><a href="#skills">
          <SkillsIcon size="25"/>
          </a></li>
        <li><a href="#projects">
          <ProjectsIcon size="25"/>
          </a></li>
        <li><a href="#cv">
          <CVIcon size="25"/>
          </a></li>
        <li><a href="#contact">
          <ContactIcon size="25"/>
        </a>
        </li>
    </ul>

    </div>
</div>

<style define:vars={{ primaryColor, secondaryColor }}>

* {
    background-color: var(--secondaryColor);
    color: white;
}

.topbar-column {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 60px;
    align-content: center;
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.profile {
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.profile-photo {
  border-radius: 50%;
  width: 40px;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  
}

ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 25px;
}

ul li a {
    text-decoration: none;
}
ul li a:hover {
    background-color: var(--primaryColor);
    opacity: 0.8;
}

.profile, .topbar-menu {
  display: block;
}

.topbar-menu {
  margin-top: 40px;
}

.profile {
  display:flex;
  justify-content: center;
}

/* For mobile devices */
@media only screen and (max-width: 500px) {
  ul {
    gap: 15px;
  }
}

</style>