---
import ProjectCard from "../components/ProjectCard.astro";
const allPosts = await Astro.glob("../pages/projects/*.md");

---

<div>
	<section class="projects">
		{allPosts.map(post =>
			<ProjectCard post={post}>
			</ProjectCard>
			)}
	</section>
</div>
