---
// import { PRIMARY_COLOR, SECONDARY_COLOR, TERTIARY_COLOR } from "../config";

// const primaryColor = PRIMARY_COLOR;
// const terciaryColor = TERTIARY_COLOR;
---
<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Work Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#cv">CV</a></li>
        <li><a href="#contact">Contact</a>
        </li>
    </ul>
</div>

<style>

div {
    display: block;
    margin-left: 30px;
    margin-top: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    margin: 15px 0;
}

ul li a:hover {
    /* background-color: var(--primaryColor); */
    opacity: 1.0;
    color: yellowgreen;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

ul li a {
    padding: 8px 16px;
    text-decoration: none;
    font-family: system-ui;
    color: white;
}

</style>