---
interface Props {
	title: string;
	level: string;
    certification: string;
}

const { title, level, certification} = Astro.props;
---

<div class="skill-card">
    <div>
        <h1>{title}</h1>
        <h2>{level}</h2>
        <h3>{certification}</h3>
    </div>
    <div class="icon">
        <slot name="svg">
        </slot> 
    </div>
</div>

<style>
.skill-card {
    text-align: left;
    border-radius: 8px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h1 {
    font-size: 16pt;
    font-weight: 600;
    margin: 0;
    color: var(--yellow-200);
}

h2 {
    font-size: 14pt;
    font-weight: 500;
    margin-top: 3px;
}

h3 {
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 3px;
}

.icon {
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

</style>