---
import SkillCard from "../components/SkillCard.astro";

import CambrigeIcon from "./icons/Logos/CambridgeIcon.astro";
import HarvardIcon from "./icons/Logos/HarvardIcon.astro";
import IBMIcon from "./icons/Logos/IBMIcon.astro";
---

<div class="skill-grid">
    <SkillCard
      title="Data Science"
      level="Intermediate"
      certification="IBM Data Science Professional Certificate"
      >
      <IBMIcon slot="svg" size="50"/>
    </SkillCard>
    <SkillCard
      title="Computer Science"
      level="Studying"
      certification="CS50's Introduction to Computer Science"
      >
      <HarvardIcon slot="svg" size="50"/>

    </SkillCard>
    <SkillCard
      title="English"
      level="Intermediate"
      certification="Cambridge Linguaskill: C1 (Reading and Listening)"
      >
      <CambrigeIcon slot="svg" size="50" />
    </SkillCard>

</div>

<style>
.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

svg {
    margin-left: 20px;
    height: 70px;
    width: auto;
}

</style>