---
import SideBar from "../components/SideBar.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION} from "../config";
import BaseHead from "../components/BaseHead.astro";
import Mobilebar from "../components/Mobilebar.astro";

interface Props {
  title?: string;
  description?: string;
  includeSidebar: boolean;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="main-layout">
      
      <div class="sidebar">
        {includeSidebar && <SideBar />}
      </div>
      <div class="mobile-bar">
        {<Mobilebar />}
      </div>
      <div class="main-page">
        <div class="main-content">
          <main>
            <slot />
          </main>
        </div>
        <div class="footer">
          <footer>
            <Footer />
          </footer>
      </div>

    </div>
  </body>
</html>

<style is:global>

:root {
  --primaryColor: rgb(10 10 10);
  --secondaryColor: rgb(10 10 10);
  --terciaryColor: rgb(10 10 10);
  --yellow-100: rgb(254 249 195);
  --yellow-200: rgb(254 240 138);
  --yellow-300: rgb(253 224 71);
  --sky-200: rgb(186 230 253);
  --sky-400: rgb(56 189 248);
  --sky-700: rgb(3 105 161);
  --cyan-400: rgb(34 211 238);
  --cyan-500: rgb(6 182 212);
  --teal-400: rgb(45 212 191);
  --teal-500: rgb(20 184 166);
  --teal-600: rgb(13 148 136);
}

</style>

<style>

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */ */
    font-family: system-ui;
    text-decoration: none;
}

body {
    background-color: var(--primaryColor);
}

.mobile-bar {
  display: none;
}

.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: var(--secondaryColor);
  color: #ede8e6;
  position: fixed;
}

.main-page {
    flex-grow: auto;
    margin: 0px 0 0 300px;
    width: 100%;
    height: 100vh;
    padding: 0 25px;
    /* overflow-y: scroll; */
    background-color: var(--primaryColor);
}

.main-content {
  margin-top: 40px;
  padding-top: 40px;
  font-family: system-ui;
  color: #ede8e6;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto;
  
}

.footer {
  margin-top: auto;
  margin-bottom: 100px;
}

/* For mobile devices */
@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .main-page {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }
  .mobile-bar {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 100;
  }
}

</style>